/* pw-box.css */

.container1 {
  background: #f1f2f2;
  padding: 32px 16px;
}

.pw-box {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
  max-width: 1200px;
  margin: 0 auto;
}

.pw-item {
  padding: 12px;
  text-align: center;
}

.pw-item h3 {
  font-size: 24px;
  margin-top: 16px;
  font-family: "KaLong", sans-serif;
  font-weight: normal;
  color: #303030;
}

.pw-item p {
  font-size: 16px;
  margin-top: 8px;
  color: #7f7f7f;
}

/* Responsive */
@media (min-width: 768px) {
  .pw-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .pw-box {
    grid-template-columns: repeat(4, 1fr);
  }
}
